<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <filter>
        <filter-name>DatastoreFilter</filter-name>
        <filter-class>org.slim3.datastore.DatastoreFilter</filter-class>
    </filter>   

    <filter-mapping>
        <filter-name>DatastoreFilter</filter-name>
        <url-pattern>/yanitime/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>restServlet</servlet-name>
        <servlet-class>net.arnx.jsonic.web.RESTServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>
                {
                    "debug": true,
                    "mappings": {
                        "/yanitime/{class}":"yanitime4u.yanitime.controller.${class}Controller",
                        "/yanitime/{class}/{id:[0-9]+}":{
                            "target": "yanitime4u.yanitime.controller.${class}Controller",
                            "method": {"GET": "findById"},
                            "verb": [ "GET" ]
                        }
                    }
                }
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>restServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
